body {
    font-family: consolas, myriad, avenir, calibri, arial;
    font-size: large;
    background: url("https://i.imgur.com/vmxAVh9.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.all {
    height:100vh;
}

.home {
    height:100vh;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav {
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.nav-menu {
    position: fixed;
    margin-top: 30px;
    top: 40px;
    left: 40px;
    transform: translate(-50%, -50%);
}

.emails {
    display: inline;
    letter-spacing: 5px;
    font-family: print;
    color: #5d5d5d;
    font-size: 24px;
    text-align: center;
}

.myname {
    position: relative;
    font-family: "Times New Roman";
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 0px;
    letter-spacing: 1px;
    text-align: center;
    color: #5d5d5d;
    text-transform: lowercase;
    -webkit-transition: all 0.4s ease-out;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    transition: all 0.4s ease-in-out;
    user-select: none;
}

.title {
    font-family: "Times New Roman";
    letter-spacing: 9px;
    margin: 10px, 1px;
    font-size: 64px;
    line-height: 0px;
    text-align: center;
    color: #5d5d5d;
    text-transform: uppercase;
    position: fixed;
    -webkit-transition: all 0.4s ease-out;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    transition: all 0.4s ease-in-out;
    user-select: none;
}

.links {
    display: block;
    padding-right: 5px;
    margin-bottom: 2px;
    padding: 2px;
    font-family: "consolas";
    font-size: 17px;
    text-transform: uppercase;
    width: 100px;
    text-align: left;
    border-right: 0px solid #99ddd3;
    border-left: 0px solid #99ddd3;
}

.on {
    background-color:#ffc3a8;
    color:#fff;
    border-right:10px solid #ffc3a8;
    border-left:2px solid #ffc3a8;
}

.links:hover {
    background-color:#99ddd3;
    color:#fff;
    border-right:10px solid #99ddd3;
    border-left:2px solid #99ddd3;
}

#links {
    display: block;
    position:fixed;
    left:50px;
    top:-30px;
    opacity:0;
    visibility: hidden;
}

#links a {
    color: #636363;
}

#links a:hover {
    color:#fff;
}


.home:hover #links{
    opacity: 1;
    display: block;
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.home:hover .title{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-transform: translate(-58px,0px); /* IE 9 */
    -webkit-transform: translate(-58px,0px); /* Safari */
    transform: translate(-58px,0px)
}

.home:hover .myname{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-transform: translate(-58px,0px); /* IE 9 */
    -webkit-transform: translate(-58px,0px); /* Safari */
    transform: translate(-58px,0px)
}


.all:hover #links{
    opacity:1;
    left:0px;
    display: block;
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.all:hover .title{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-transform: translate(-90px,0px); /* IE 9 */
    -webkit-transform: translate(-90px,0px); /* Safari */
    transform: translate(-90px,0px)
}

.all:hover .myname {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-transform: translate(0px,-90px); /* IE 9 */
    -webkit-transform: translate(0px,-90px); /* Safari */
    transform: translate(0px,-90px)
}


.active {
  background-color: #4CAF50;
}

#container div {
  display: block;
  padding: 50px;
}


.gallery {
padding: 0;
margin: 0;
text-align: center;
}

/* taken from code https://codepen.io/ongtiffany/pen/BoOeQV */

/* Styles the thumbnail */

a.lightbox img {
height: 450px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 94px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
 
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
  
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
  overflow:scroll;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0;
}
/* taken from code https://codepen.io/ongtiffany/pen/BoOeQV */

.hidden {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

a, a:link, a:visited, a:active {
    color: #9bd6f0;
    z-index: 999;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
