body {
  font-family: consolas, myriad, avenir, calibri, arial;
  font-size: large;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-menu {
    position: fixed;
    margin-top: 30px;
    top: 40px;
    left: 40px;
    transform: translate(-50%, -50%);
}

.emails {
    display: ;
    letter-spacing: 5px;
    font-family: print;
    color: #5d5d5d;
    font-size: 24px;
    text-align: center;
}

.myname {
    font-family: print;
    padding-top: 40px;
    padding-left: :10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 0px;
    letter-spacing: 1px;
    text-align: center;
    color: #5d5d5d;
    text-transform: lowercase;
    -webkit-transition: all 0.4s ease-out;
}

.title {
    font-family: print;
    letter-spacing: 9px;
    margin-left:0px;
    font-size: 64px;
    line-height: 0px;
    text-align: center;
    color: #5d5d5d;
    text-transform: uppercase;
    position: fixed;
    -webkit-transition: all 0.4s ease-out;
}

.links {
    display: block;
    padding-right: 5px;
    margin-bottom: 2px;
    padding: 2px;
    font-family: consolas;
    font-size: 17px;
    text-transform: uppercase;
    width: 150px;
    text-align: left;
    border-right: 0px solid #99ddd3;
    border-left: 0px solid #99ddd3;
}

.on {
    background-color:#ffc3a8;
    color:#fff;
    border-right:10px solid #ffc3a8;
    border-left:2px solid #ffc3a8;
}

.links:hover {
    background-color:#99ddd3;
    color:#fff;
    border-right:10px solid #99ddd3;
    border-left:2px solid #99ddd3;
}

#links {
    display: block;
    position:fixed;
    left:50px;
    top:-30px;
    opacity:0;
}

#links a {
    color: #aaa;
}

#links a:hover {
    color:#fff;
}


body.nojQuery > .main-nav:hover #links{
    opacity:1;
    -webkit-transition: all 0.4s ease-in-out;
}

body.nojQuery > .main-nav:hover .title{
    margin-left:-62px;
    -webkit-transition: all 0.4s ease-in-out;
}

body.nojQuery > .nav-menu:hover #links{
    opacity:1;
    left:0px;
    -webkit-transition: all 0.4s ease-in-out;
}

body.nojQuery > .nav-menu:hover .title{
    margin-left:-90px;
    -webkit-transition: all 0.4s ease-in-out;
}

body.nojQuery > .nav-menu:hover .myname {
    margin-top:-85px;
    -webkit-transition: all 0.4s ease-in-out;
}


.active {
  background-color: #4CAF50;
}

#container div {
  display: block;
  padding: 50px;
}

img {
  display: block;
  margin: auto;
  width: 20%;
}

.hidden {
  opacity: 0;
}

.shown {
  opacity: 1;
}

a, a:link, a:visited, a:active {
    color: #9bd6f0;
    z-index: 999;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
